<div class="heading">
  <h1>SELECT A REGION</h1>
</div>

<ul>
  <li>
    <a>
      <img routerLink="africa" src="assets/img/africa.jpg" alt="">
      <div class="name">
        Africa
      </div>
    </a>
  </li>
  <li>
    <a>
      <img routerLink="america" src="assets/img/america.jpg" alt="">
      <div class="name">
        Americas
      </div>
    </a>
  </li>
  <li>
    <a>
      <img routerLink="asia" src="assets/img/asia.jpg" alt="">
      <div class="name">
        Asia
      </div>
    </a>
  </li>
  <li>
    <a>
      <img routerLink="europe" src="assets/img/europe.jpg" alt="">
      <div class="name">
        Europe
      </div>
    </a>
  </li>
  <li>
    <a>
      <img routerLink="oceania" src="assets/img/oceania.jpg" alt="">
      <div class="name">
        Oceania
      </div>
    </a>
  </li>
</ul>

<app-footer></app-footer>
