.heading{
  margin: 1rem;
}

.all-countries{
  margin: -1rem;
}

.country{
  margin-left: 2rem;
  margin-top: 2rem;
}

.country:hover{
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 0.3rem;
}

.viewport {
  height: 400px;
  width: 400px;
  border: 2px solid whitesmoke;
  border-radius: 0.5rem;
  position: center;
  box-shadow: 0 0 0.5rem #30d273;
}

.all-viewport{
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-item {
  height: 50px;
}

img {
  height:20px;
  width:30px;
  display: inline;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.1rem black;
  margin-right: 1rem;
  margin-top: 0.3rem;
  margin-left: 1rem;
}

span {
  display: inline;
  height:20px;
  color: #0a4480;
  margin-bottom: 0.2rem;
}

h1{
  color: #0a4480;
}
