<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="heading">
  <h1>REGION: AMERICAS</h1>
  <div class="all-viewport">
    <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
      <div class="all-countries">
        <div class="country" *ngFor="let country of countriesList; let i = index">
          <div (click)="openDialog(i)" *ngIf="country.region == 'Americas'">
            <img src="{{ country.flags.png }}" alt="">
            <span>{{ country.name.common }}</span>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>

<app-footer></app-footer>
